.table_td {
    width: 50px;
    height: 50px;
    display: flex;
    align-items:center ;
    border: 3px solid black;
    background-color: white;
}

.table {
    width: 90px;
    display: grid;
 
    padding: 10px;
    flex-grow: 1;
    border-collapse: collapse;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.joueurVert {
    background-color: green;
}

.joueurRouge {
    background-color: red;
}

.joueurVide {
    background-color: white;
}

body {
    background-color: lightgrey;
}

